.sidebar {
    display: flex;
    position: fixed;
    z-index: 99;
}

.button {
    transition: transform 0.5s;
    padding: 10px 10px 10px 10px;
    transform: translate(0px);
}

.bg-cornflowerblue {
    background-color: cornflowerblue;
}

.bg-youtube {
    background-color: rgb(220, 71, 46);;
}

.twitter-icon {
    background-color: rgb(29, 161, 242);
}

@media (min-width: 30em) {
    .sidebar {
        flex-direction: column;
        top: 30%;
        left: -30px;
    }

    .button:hover {
        transform: translate(30px);
        transition: transform 0.5s;
    }

    .button {
        padding-left: 40px;
    }
}

@media (max-width: 30em) {
    .sidebar {
        flex-direction: row;
        bottom: 0;
        transition: bottom 0.5s;
    }

    .sidebar--hidden {
        bottom: -70px
    }
}