.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    z-index: 99;
}

.button:hover {
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
}

.button {
    transition: width 0.5s;
    padding: 5px;
}

.bg-cornflowerblue {
    background-color: cornflowerblue;
}

.bg-youtube {
    background-color: rgb(220, 71, 46);;
}

.twitter-icon {
    fill: #fff;
    background-color: rgb(29, 161, 242);
}
